.main{
    position:relative;
    height:400px;
    width:400px;
    border:1px solid black;
}
.box{
    position:absolute;
    width:100px;
    height:100px;
    background-color: rgb(0, 80, 172);
    right:0px;
    /*left:0px;
    */
}