span::before{
    content:"";
    background: url(flower.png);
    width:24px;
    height:24px;
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
}
p::after{
    background: url(plane.png);
    width:24px;
    height:24px;
    content:"";
    display:inline-block;
    vertical-align: middle;
    margin-left:10px;
}
