.container{
    height:300px;
    width:300px;
    border:1px solid black;
}
.box{
    height:100px;
    width:100px;
    background-color: blue;
    margin: 10px;
}
/*Para que se pinte todos los hijos

.container:hover > .box{
    background-color:green;
}
*/

.container:hover > .box:last-of-type{
    background-color: cyan;
}
.container:hover > .box:first-of-type{
    background-color: yellow;
}