.modo-flex{
    width:300px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.modo-flex > div{
    height:100px;
    width: 100px;
    background-color: coral;
    border: 1px solid black;
    box-sizing: border-box;
}
.modo-flex{
    width:300px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
}
.modo-flex{
    width:300px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
}