.modo-flex{
    display:flex;
    width:400px;
    height:250px;
    flex-flow: row wrap;
    border:1px solid black;
}
.modo-flex > div{
    width:100px;
    min-height:110px;
    border:1px solid black;
    box-sizing: border-box;
    background-color: coral;
}
.div-1{
    align-self: flex-end;
}
.div-2{
    align-self: center;
}
.div-3{
    align-self: flex-start;
}
.div-4{
    align-self: stretch;
}