div{
    display:inline-block;
    width:100px;
    height:100px;
    background-color: coral;
}
.p-1{
    display:none;
}
.p-2{
    display:none;
}
.p-3{
    display:none;
}

@media only screen and (max-width:340px){
    .div-1{
        display:none;
    }
    .p-1{
        display:block;
    }
}
@media only screen and (max-width:230px){
    .div-2{
        display:none;
    }
    .p-2{
        display:block;
    }
  
}

